body {
    font-family: Raleway, sans-serif;
}

.card-list {
    max-width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px;

    @media (min-width: 768px) {
        max-width: 80%;
        gap: 70px;
    }

    @media (min-width: 1200px) {
        max-width: 70%;
    }

    .card {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 150px;
        overflow: hidden;

        @media (min-width: 768px) {
            height: 200px;
        }

        &__image {
            object-fit: contain;
            border: 1px solid #ccc;
            margin-top: -30px;
            margin-right: -20px;
            z-index: 1;
            max-width: 165px;

            @media (min-width: 768px) {
                margin-top: -35px;
                max-width: 165px;
            }

            @media (max-width: 425px) {
                margin-top: -35px;
                max-width: 115px;
            }
        }

        &__arrow {
            flex-grow: 1;
            background-color: green;
            clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
            height: 70%;
        }

        &__text-con {
            color: white;
            margin: 15px 100px 15px 50px;

            &_heading {
                margin: 0px;

                @media (max-width: 425px) {
                    font-size: 15px;
                }

                @media (max-width: 375px) {
                    font-size: 14px;
                }

                @media (max-width: 320px) {
                    font-size: 13px;
                }
            }

            &_subHeading {
                margin: 10px 0px;

                @media (min-width: 768px) {
                    margin: 8px 0px;
                }

                @media (max-width: 425px) {
                    font-size: 13px;
                    margin: 4px 0px;
                }

                @media (max-width: 375px) {
                    font-size: 12px;
                    margin: 3px 0px;
                }

                @media (max-width: 320px) {
                    font-size: 11px;
                }
            }

            &_text {
                margin: 0px;
                line-height: 25px;

                @media (min-width: 768px) {
                    line-height: 20px;
                }

                @media (max-width: 425px) {
                    font-size: 11px;
                    line-height: 15px;
                }

                @media (max-width: 375px) {
                    font-size: 10px;
                    line-height: 13px;
                }

                @media (max-width: 320px) {
                    font-size: 9px;
                    line-height: 12px;
                }
            }

            @media (min-width: 768px) {
                margin: 12px 70px 15px 50px;
            }

            @media (max-width: 425px) {
                margin: 8px 50px 8px 30px;
            }

            @media (max-width: 320px) {
                margin: 8px 25px 8px 30px;
            }
        }
    }
}