body {
    font-family: Raleway, sans-serif;
}

.card-grid-container {
    background-color: #f3f4f6;
    padding: 2rem;

    .card-heading {
        padding: 30px;
        text-align: center;
    }

    .card-grid {
        display: grid;
        gap: 1.5rem;

        grid-template-columns: repeat(1, 1fr);

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 1024px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .card {
        background-color: #ffffff;
        border-radius: 0.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .card-link-tag {
            text-decoration: none;
        }

        .card-image {
            width: 100%;
            object-fit: cover;
        }

        .card-content {
            padding: 1rem;

            .card-title {
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: 0.5rem;
                color: black;
            }

            .card-description {
                font-size: 0.875rem;
                color: #6b7280;
            }
        }
    }

    .card-button-box {
        text-align: center;
        margin: 30px auto;
    }

    .card-button {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #079244;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        border: 2px solid #079244;
        transition: background-color 0.3s;

        &:hover {
            background-color: #fff;
            color: #079244;
        }
    }
}