body {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.about-green-compost {
    padding: 20px;
    background-color: #f9f9f9;

    .content-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .text-content {
            flex: 1;
            max-width: 700px;
            margin: 20px;

            .about-green-compost {
                font-size: 2rem;
                font-weight: bold;
                color: #333;
                text-align: center;
            }

            .about-text {
                font-size: 1rem;
                line-height: 1.6;
                color: #555;
                text-align: justify;
            }

            .download-button {
                display: inline-block;
                margin-top: 20px;
                padding: 10px 20px;
                background-color: #079244;
                color: #fff;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
                cursor: pointer;
                text-align: center;
                border: 2px solid #079244;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #fff;
                    color: #079244;
                }
            }
        }

        .image-container {
            flex: 1;
            max-width: 400px;
            margin: 20px;
            text-align: center;

            .about-green-comost-image {
                max-width: 100%;
                height: auto;
                border-radius: 10px;
            }
        }
    }

    @media (max-width: 768px) {
        .content-container {
            flex-direction: column;

            .text-content,
            .image-container {
                max-width: 100%;
                margin: 10px 0;
            }

            .text-content {
                text-align: center;

                .about-text {
                    text-align: center;
                }
            }
        }
    }
}