body {
    font-family: Raleway, sans-serif;
    font-size: 16px;
}

.waste-composting-process {
    text-align: center;
    padding: 20px;

    &-heading {
        font-size: 2rem;
        color: #333;
        margin-bottom: 10px;
        line-height: 1.2;

        @media (max-width: 768px) {
            font-size: 1.5rem;
        }

        @media (max-width: 480px) {
            font-size: 1.2rem;
        }
    }

    &-text {
        font-size: 1.2rem;
        color: #666;
        margin-bottom: 30px;

        @media (max-width: 768px) {
            font-size: 1rem;
        }

        @media (max-width: 480px) {
            font-size: 0.9rem;
        }
    }

    &-img {
        max-width: 90%;
        margin: auto;

        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
}