body {
    font-family: Raleway, sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border: 1px solid white;
    border-top-width: 0px;
    --tw-backdrop-blur: blur(70px);
    backdrop-filter: var(--tw-backdrop-blur);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.navbar {
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.scrolled {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled .container {
    border: none;
}

.menu-icon {
    display: none;
}

.logo {
    width: 55px;
    height: 65px;
}

.logo_img {
    width: 100%;
}

.nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
    margin-right: 60px;
}

.nav-elements ul a {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar.scrolled .nav-elements ul a {
    color: #000000;
    /* Link color when scrolled */
}

.navbar.scrolled .nav-elements ul a.active {
    color: #448EE4;
}

.nav-elements ul a.active {
    color: #448EE4;
    font-weight: 600;
    position: relative;
}

.nav-elements ul a.active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #448EE4;
}

@media (max-width: 768px) {
    .nav-elements ul li:not(:last-child) {
        margin-right: 30px;
    }
}

@media (max-width: 600px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .nav-elements {
        position: absolute;
        right: 0;
        top: 60px;
        background-color: white;
        width: 0px;
        height: calc(100vh - 80px);
        transition: all 0.3s ease-in;
        overflow: hidden;
    }

    .nav-elements.active {
        width: 270px;
        padding: 0px 0px 40px 0px;
    }

    .nav-elements ul {
        display: flex;
        flex-direction: column;
    }

    .nav-elements ul li {
        margin-right: unset;
        margin-top: 22px;
    }

    .nav-elements ul a {
        color: black;
    }
}